/* Normalize */

h1{ margin: $no_margin;}
h2{ margin: $no_margin;}
h3{ margin: $no_margin;}
h4{ margin: $no_margin;}
h5{ margin: $no_margin;}
h6{ margin: $no_margin;}
p{ margin: $no_margin;}

.relative { position: $relative;}
.absolute { position: $absolute;}

.section_head{
	text-align: center;
	
	h2{
		font-size: 30px;
		font-family: $bold;
		line-height: 40px;
	}
	p{
		padding: 12px 0 0;
	}
	
	&.after{
		position: $relative;
		
		&:after{
			content: ''; 
			height: 3px; 
			width: 52px; 
			background: $primary_color; 
			display: inline-block;
			position: $absolute;
			left: 50%;
			bottom: -28px;
			margin-left: -26px;
		}
	}
}

.order_main{
	.section_head{
		padding: 85px 0 68px;
		h2{
			font-size: 34px;
			
			span{
				text-transform: uppercase;
				color: $yellow_color;
			}
		}
		p{
			font-size: 20px;
		}
	}
}




